.posts {
  margin-top: 60px;
  font-size: 80%;

  @include tamanho-tela(celular) {
    font-size: 100%;
  }

  .content-scroll {
    width: 100%;
    max-width: 730px;
    height: 400px;
    border: 3px solid $sec;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 auto;

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba($light, .4);
      background-color: rgba($dark, .3);
    }

    &::-webkit-scrollbar {
      width: 12px;
      background-color: rgba($dark, .3);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba($dark2, .3);
      background-color: $dark2;
    }

    hr {
      border-top: 1.5px solid rgba($dark, .6);
      padding: 0;
      width: 100%;
      max-width: 470px;
      margin: 20px auto 60px;
    }
  }

  .post {
    width: 100%;
    height: auto;
    max-width: 470px;
    display: block;
    margin: 0px auto;
    font-size: 140%;

    @include tamanho-tela(celular) {
      font-size: 100%;
    }

    .image {
      img {
        width: inherit;
      }
    }

    .information-container {
      margin-top: 20px;
      padding: 0px 15px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      @include tamanho-tela(celular) {
        flex-direction: row;
      }

      @include tamanho-tela(tablet) {
        padding: 0;
      }
    }

    .profile {
      display: flex;
      color: $dark2;
      width: 100%;

      @include tamanho-tela(celular) {
        max-width: 290px;
      }

      .photo {
        max-width: 47px;
        min-width: 47px;
        margin-right: 10px;
        border-radius: 50%;

        img {
          width: inherit;
          border-radius: inherit;
        }
      }

      .infos {
        h4 {
          margin: 0;
          padding: 0;
          font-size: 1.1em;
        }

        small {
          font-size: .8em;
          margin: 0;
          padding: 0;
        }
      }

    }

    .cont {
      display: flex;
      flex-direction: column;

      @include tamanho-tela(celular) {
        display: block;
      }

      small {
        color: $sec;
        text-align: right;
        width: 100%;
        display: block;
        order: 1;
        margin: 10px 0 0;

        @include tamanho-tela(celular) {
          margin: 0;
        }

      }
    }
  }
}
