html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $light;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-color: $light;
  color: $dark;
  font-family: $font-default,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
}

// Container principal
.container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1140px;
  padding: 0px 15px;
  margin: 0 auto;
}

// Header do site
.header {
  position: fixed;
  width: 100%;
  padding: 20px 0px;
  background-color: rgba($dark, 0.8);

  .logo {
    a {
      display: block;
      max-width: 190px;

      img {
        width: inherit;
      }
    }
  }

  .header-content {
    display: grid;
    grid-template-columns: 1fr 30px;

    @include tamanho-tela(celular) {
      grid-template-columns: 1fr 1fr;
    }

    @include tamanho-tela(desktop) {
      grid-template-columns: 2fr 3fr;
    }
  }

  .menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: none;

    @include tamanho-tela(desktop) {
      display: block;
    }

    ul {
      display: flex;

      a {
        padding: 5px;
        margin: 0px 10px;
        position: relative;

        &::after {
          @extend %hover;
          bottom: 0px;
        }

        &:hover::before {
          width: 100%;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}

// Barra de pesquisa
.input-explorer {
  position: relative;
  max-width: 190px;
  width: 100%;
  display: none;

  @include tamanho-tela(celular) {
    display: block;
  }

  &.hide {
    display: block;

    @include tamanho-tela(celular) {
      display: none;
    }
  }

  .search-input {
    background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom-color: $light;
    border-bottom-width: thin;
    outline: none;
    color: $light;
    padding: 5px 30px 5px 8px;
    width: inherit;
  }

  .icon-search {
    position: absolute;
    top: 5px;
    right: 10px;
    display: block;
    border: none;
    background: transparent;
    width: 14px;
    padding: 5px;
    height: 14.5px;
    background: url('../images/search-icon.svg') no-repeat;
    font-size: 0px;
    cursor: pointer;
    outline: none;

    &:hover {
      background-image: url('../images/search-icon-green.svg');
    }
  }
}
