.cause-banner {
  height: 55vh;
  width: 100%;

  img {
    height: inherit;
    width: inherit;
    object-fit: cover;
  }
}

.cause {
  margin-top: 60px;
  font-size: 120%;

  @include tamanho-tela (celular) {
    font-size: 105%;
  }

  @include tamanho-tela (tablet) {
    font-size: 80%;
  }

  @include tamanho-tela (desktop) {
    font-size: 100%;
  }

  .grid {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 30px;

    @include tamanho-tela (tablet) {
      grid-template-columns: 1.5fr 1fr;
    }

    @include tamanho-tela (desktop-up) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .details {
    .titles {
      border-bottom: 2px solid $sec;
      margin: 0px 0px 30px;

      h1 {
        font-size: 2em;
        font-weight: 700;
        margin: 0 0 10px;
        padding: 0;
      }

      .id {
        font-weight: 400;
        color: $pri;
        margin: 0 0 10px;
      }

      .bread-crumbs {
        margin: 0px 0px 30px
      }
    }

    .container-cause {
      display: grid;
      grid-template-columns: 100%;
      grid-gap: 30px;

      @include tamanho-tela (celular) {
        grid-template-columns: repeat(2, 1fr);
      }

      .money {
        .met {
          color: $dark2;
          font-size: 1.25em;
          font-weight: 500;
        }

        .value {
          font-size: 2em;
          font-weight: 700;
          color: $sec;

          small {
            color: $dark;
            font-size: .5em;
          }
        }

        .goal {
          margin: 0px 0px 30px;
        }

        .collected {
          width: 100%;

          .value {
            color: $dark;
          }

          .progress-bar {
            margin-top: 10px;

            .bar {
              width: 100%;
            }
          }

        }
      }

      .prof-in {
        .profile {
          display: flex;
          color: $dark2;
          width: 100%;

          @include tamanho-tela(celular) {
            max-width: 290px;
          }

          .photo {
            max-width: 47px;
            min-width: 47px;
            margin-right: 10px;
            border-radius: 50%;

            img {
              width: inherit;
              border-radius: inherit;
            }
          }
        }

        .cont {
          margin: 30px 0px 0px;

          small {
            text-align: center;
            display: block;
            font-size: 1em;
          }

          .call {
            padding: 22px 15px;

            &:hover {
              padding: 20px 13px;
            }
          }
        }
      }
    }

    .container-share {
      margin-top: 30px;

      .shared {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 30px;

        @include tamanho-tela(celular) {
          grid-template-columns: repeat(2, 1fr);
        }

        P {
          font-size: 1.25em;
          font-weight: 500;
        }

        .social {
          max-width: 260px;
          margin-top: 8px;
          display: flex;
          justify-content: space-between;

          @include tamanho-tela(celular) {
            max-width: 150px;
          }

          img {
            @include tamanho-tela(apenas-celular) {
              width: 38px;
            }
          }
        }
      }

      .denounce {
        display: flex;
        align-items: flex-start;

        div {
          margin-right: 5px;

          img {
            width: inherit;
          }
        }

        a {
          color: $dark;
          text-decoration: underline;
          font-weight: 500;
        }
      }

      .alert {
        margin-top: 30px;
      }
    }
  }
}

.navtabs {
  .tabs {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: 50%;

    @include tamanho-tela(celular) {
      font-size: 100%;
    }

    li {
      border: 2px solid $sec;
      border-bottom: none;
      padding: 8px 20px;
      cursor: pointer;
      font-size: 1em;
      text-transform: uppercase;
      font-weight: 500;

      @include tamanho-tela(celular) {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      &:nth-child(1n+2) {
        @include tamanho-tela(celular) {
          border-left: none;
        }
      }

      &:hover {
        background: $dark2;
        color: $light;
        font-weight: 700;
      }

      &.activeTab {
        background: $dark2;
        color: $light;
        font-weight: 700;
      }
    }

  }

  .contents {
    padding: 20px;
    border: 2px solid $sec;

    .tab-content {
      display: none;
      transform: translateY(20px);
      transition: all 0.5s ease;

      &:first-child {
        transform: translateY(0px);
        display: block;
      }
    }

    p {
      margin-bottom: 30px;

      &:last-child {
        margin: 0;
      }
    }
  }
}
