.contribute {
  margin-top: 70px;
  padding: 60px 0px 0px 0px;

  label {
    font-size: 1.25em;
    font-weight: 700;
    margin: 0px 0px 5px;
    display: block;
  }

  hr {
    border-top: 2px solid $pri;
    margin: 0px 0px 20px
  }

  input:not([type="checkbox"]),
  select,
  textarea {
    border: 2px solid $pri;
    width: 100%;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgba($dark, 0.25);
    margin: 0px 0px 30px;
  }

  .titles {
    text-align: center;
    margin: 0px 0px 60px;
    font-size: 80%;

    @include tamanho-tela(celular) {
      font-size: 100%;
    }

    h1 {
      padding: 0;
      margin: 0;
      font-size: 2em;
    }

    p {
      font-size: 1.25em;
      margin: 10px 0px 0px;
      color: $pri;
      text-transform: uppercase;
    }
  }

  .cause-caption {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 30px;

    @include tamanho-tela(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    .image {
      padding: 10px;
      width: 100%;
      background: linear-gradient(250.63deg, $dark2 31.97%, $sec 120.27%);
      height: auto;
      max-height: 330px;

      img {
        width: inherit;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .others-inputs {
    .inputs {
      display: grid;
      grid-template-columns: 100%;
      grid-gap: 30px;

      @include tamanho-tela(tablet) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .grid-i {
      @include tamanho-tela(celular) {
        grid-column: 1 / 3;
      }

      @include tamanho-tela(tablet) {
        grid-column: 2;
      }

      @include tamanho-tela(desktop) {
        grid-column: initial;
      }
    }

    &.ott {
      .inputs {
        grid-template-columns: 100%;
        grid-auto-flow: row;

        @include tamanho-tela(celular) {
          grid-template-columns: repeat(2, 1fr);
        }

        @include tamanho-tela(desktop) {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }

    .i-msg {
      order: 2;
    }

    .i-more {
      .more {
        display: grid;
        grid-template-columns: 100%;

        @include tamanho-tela(celular) {
          grid-gap: 30px;
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }

    .i-dates {
      .i-date {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
      }
    }

    .i-more {

      .i-card-date {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
      }

    }

    .i-terms {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .ter {
        display: flex;
        align-items: flex-start;

        &:first-child {
          margin-bottom: 20px;
        }

        input {
          position: relative;
          margin-right: 10px;
          top: 5px;
        }

        label {
          font-size: 1em;
          font-weight: 400;
        }
      }

      .alert {
        margin: 30px 0;

        @include tamanho-tela(desktop) {
          margin: 0 0 30px;
        }

      }
    }
  }
}
