.register {
  margin-top: 70px;
  padding: 60px 0 0;

  .grid {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 30px;

    @include tamanho-tela(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .image {
    @include tamanho-tela(apenas-celular) {
      max-width: 190px;
      margin: 0 auto;

      img {
        max-width: inherit;
      }
    }
  }

  .register-caption {
    .input {
      display: grid;
      grid-template-columns: 100%;
      grid-gap: 30px;

      @include tamanho-tela(tablet) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .call {
    max-width: 300px;
    margin: 20px auto;
    padding: 25px 10px;

    &.full {
      max-width: initial;
      margin-top: 30px;
    }

    &.facebook {
      background-color: #4267B2;
    }

    &.google {
      background: $light;
      color: $dark;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &.facebook,
    &.google {
      &:hover {
        font-weight: 700;
        box-sizing: border-box;
        border: none;
        padding: 25px 10px;
      }
    }
  }

  .titles {
    margin: 0px 0px 30px;
    font-size: 80%;

    @include tamanho-tela(celular) {
      font-size: 100%;
    }

    h1 {
      padding: 0;
      margin: 0;
      font-size: 2em;
    }
  }

  label {
    font-size: 1.25em;
    font-weight: 700;
    margin: 0px 0px 5px;
    display: block;
  }

  input:not([type="checkbox"]),
  select,
  textarea {
    border: 2px solid $pri;
    width: 100%;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgba($dark, 0.25);
    margin: 0px 0px 30px;
  }

  .i-pass,
  .i-date {
    display: grid;
  }

  .i-pass {
    grid-template-columns: 100%;

    @include tamanho-tela(celular) {
      grid-gap: 30px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .i-date {
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
}
